@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


#loader {
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#load {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid rgb(26, 103, 7);
  border-bottom: 5px solid rgb(34, 0, 255);
  animation: myani 0.6s infinite;

}

@keyframes myani {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


:root {
  --char-body: #20C997;
  --hover-color: #29ffbf;
  --status-dot: rgb(209, 250, 62);
  --background-header: #20C997;
  --bg-style: #23dba4;
  --bg-style1: #67f7cc;
  --bg-style2: #b1fde6;
  --bg-style3: #d7fdf1;
  --bg-style4: #e9f8f4;
  --bg-style5: #F0F4F8;
  --background-color: #F0F4F8;
  --text-color: #2D2D2D;
  --button-background: #06520fbe;
  --button-text-hover: #23fe01;
  --button-text: #060606;
  --incoming-bg: #f7fff583;
  --outgoing-bg: #20C997;
  --border-color: #E5E5E5;
  --shadow-color: rgb(0, 0, 0);
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --input-border-color: #CCC;
  --error-bg: #F8D7DA;
  --error-border: #F5C6CB;
  --ripple-color: gold;
}

/* Dark Mode */
body.dark-mode {
  --char-body: #0a4c38;
  --hover-color: #20C997;
  --status-dot: rgb(14, 174, 14);
  --background-header: #0a4c38;
  --bg-style: #093f30;
  --bg-style1: #083429;
  --bg-style2: #072b23;
  --bg-style3: #041612;
  --bg-style4: #030f0c;
  --bg-style5: #030f0c;
  --background-color: #1C1F24;
  --text-color: #ffffff;
  --button-background: #2aad4d;
  --button-text-hover: #93ff82;
  --button-text: #ffffff;
  --incoming-bg: #3f3f3f;
  --outgoing-bg: #0a4c38;
  --border-color: #333;
  --shadow-color: rgb(0, 0, 0);
  --box-shadow-color: rgba(255, 255, 255, 0.3);
  --input-border-color: #555;
  --error-bg: #661d1d;
  --error-border: #aa4444;
  --ripple-color: rgb(248, 119, 13);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background-color);
  padding: 0 10px;
  color: var(--text-color);
}

/* SendRequest Button  */
.users-list .SendButton-Request {
  border: none;
  background-color: rgb(34, 245, 34);
  color: #060606;
  font-size: 10px;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  box-shadow: 0px 5px 10px black;
  transition: 0.1s linear;
}

.users-list .SendButton-Request:hover {
  background-color: yellow;
}

.users-list .SendButton-Request:active {
  transform: translateY(10px);

}

/* button underline animation  */
.hover-underline-animation {
  color: var(--text-color);
  position: relative;
  text-decoration: none;

}

.hover-underline-animation:hover {
  color: var(--button-text-hover);

}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--button-text-hover);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation::after {

  transform: scaleX(0);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* theme change code */
#theme-toggle {
  display: none;
}

#theme-toggle-icon i {
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
}

body.dark-mode #theme-toggle-icon i.fa-moon {
  display: none;
}

body.dark-mode #theme-toggle-icon i.fa-sun {
  display: inline-block;
}

#theme-toggle-icon i.fa-sun {
  display: none;
}


/* navbar code  */
.container .navbarDesign {
  background-color: var(--background-header);
  padding: 10px;
}

.container nav .containerdiv .brandName {
  color: var(--text-color);
  cursor: default;
}

/* hero (body) section  */
.container .hero {
  width: 100%;
  background-color: var(--background-header);
  padding: 10px;
}

.container .hero .heroClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--text-color);
  background: transparent;
  /* border: 10px solid rebeccapurple; */
  background-color: var(--background-color);
  padding: 35px;
  border-radius: 30% 70% 70% 30% / 30% 30% 50% 50%;
  animation: mybuttonAni 10s linear 2s infinite alternate;
}

.container .hero .heroClass #heroHiding {
  text-align: center;
  color: var(--button-background);
  font-weight: bolder;
  position: relative;
  overflow: hidden;
}

.container .hero .heroClass #heroHiding::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--button-background);
  bottom: 0;
  left: 0;
  /* transform-origin: bottom right; */
  animation: textAni 5s linear infinite alternate-reverse;
}

@keyframes textAni {
  0% {
    transform: scaleX(0);
    transform-origin: left bottom;
  }

  100% {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

}

.container .hero .heroClass #heroHiding span {
  font-size: 16px;
}

.container .hero .heroClass P {
  text-align: center;
}

@keyframes mybuttonAni {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 50% 50%;

  }

  25% {
    border-radius: 58% 42% 70% 25% / 70% 46% 54% 24%;

  }

  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 63% 45%;


  }

  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;

  }
}

.container .hero .heroClass a.Mybtn {
  background-color: #20C997;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--shadow-color);
  font-size: 26px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  color: black;
  transition: transform 0.1s ease-in-out;
}

.container .hero .heroClass a.Mybtn:active {
  transform: translateY(6px);
  color: rgb(13, 74, 18);

}

.container .hero .heroClass a.Mybtn::before {
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgb(172, 255, 141);
  top: var(--posY);
  left: var(--posX);
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 2s, height 2s;
  z-index: -1;
}

.container .hero .heroClass a.Mybtn:hover::before {
  width: 200%;
  height: 200%;
  z-index: -1;
}


/* features section  */

.container .features {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.container .features .featuresBox {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;

}

.container .features .featuresBox .featuresCard {
  min-height: 200px;
  margin: 15px;
  background-color: var(--background-header);
  color: var(--text-color);
  /* transition: transform 0.3s; */
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.container .features .featuresBox .featuresCard .card-index {
  z-index: 1;
}

.container .features .featuresBox .card-all {
  min-width: 200px;
  flex: 1;
}

.container .features .featuresBox .card-4 {
  min-width: 220px;
  flex: 3;
}

.container .features .featuresBox .featuresCard .card-body i {
  font-size: 50px;
  color: var(--button-background);
}


.container .features .featuresBox .featuresCard::before,
.container .feedbackForm::before {
  content: "";
  width: 0;
  height: 0;
  background-color: var(--ripple-color);
  color: red;
  top: var(--ripple-y);
  left: var(--ripple-x);
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 5s ease, height 4s ease;

}


.container .features .featuresBox .featuresCard.scroll-ripple::before,
.container .feedbackForm.scroll-ripple::before {
  width: 150%;
  height: 150%;
  z-index: -1;
}

.container .features .featuresBox .featuresCard.scroll-ripple,
.container .feedbackForm.scroll-ripple {
  transform: scale(1.05);
}



/* feedback */
.container .feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-header);
  margin: 30px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.container .feedbackForm .feedbackHeader {
  width: 100%;
  text-align: center;
}

.container .feedbackForm #feedbackForm {
  max-width: 450px;
}

.form form .input textarea {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  color: var(--text-color);
  border: 2px solid var(--background-header);
  background-color: transparent;
}

.form form .input textarea:hover {
  border: 2px solid var(--hover-color);
}

.container .feedbackForm .feedbackFormAni {
  border: none;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 20px 100px 20px 100px;
  border-radius: 30% 70% 70% 30% / 30% 30% 50% 50%;
  animation: mybuttonAni 10s linear 0s infinite alternate;
}

/* footer  */

.container footer .backToTop {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-header);
  border-radius: 6px;
  margin: 5px;
}

.container footer .contactUs {
  text-align: center;

}

.container footer .contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 16px;
  border-radius: 6px;
  margin: 5px;
  color: var(--text-color);
  background-color: var(--background-header);
}

.container footer .contact .contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container footer .contact .contactSection a {
  text-decoration: none;

}

.container footer .contact .contactSection i {
  font-size: 50px;
  color: var(--button-background);
}

.container footer .footerCopyRights {
  background-color: var(--background-header);
  border-radius: 6px;
  margin: 5px;
  padding: 1px;
  text-align: center;
  max-height: 50px;
}

.container footer .footerCopyRights p {
  margin: 0px;
  color: var(--text-color);
}

.container footer .footerCopyRights p a {
  text-decoration: none;
}

@media screen and (max-width: 500px) {

  .container footer .contact {
    flex-direction: column;
  }

  .container .feedbackForm {
    margin: 15px;
  }

  .container .feedbackForm .feedbackFormAni {
    animation: none;
    padding: 20px 55px 20px 55px;
    border-radius: 10px;
    margin: 1px;
  }
}




.wrapper {
  background: var(--background-color);
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 var(--shadow-color),
    0 32px 64px -48px var(--box-shadow-color);
}

/* Login & Signup Form CSS Start */
.form .headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-header);
  padding: 10px;
  border-radius: 5px;
}

.form {
  padding: 25px 30px;
}

.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

.form form {
  margin: 20px 0;
}

.form form .error-text {
  color: var(--text-color);
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: var(--error-bg);
  border: 1px solid var(--error-border);
  margin-bottom: 10px;
  display: none;
}

.form form .name-details {
  display: flex;
}

.form .name-details .field:first-child {
  margin-right: 10px;
}

.form .name-details .field:last-child {
  margin-left: 10px;
}

.form form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.form form .field label {
  margin-bottom: 2px;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  color: var(--text-color);
  border: 2px solid var(--background-header);
  background-color: transparent;
}

.form form .input input:hover {
  border: 2px solid var(--hover-color);
}

.form form .field input {
  outline: none;
}

.form form .image label input {
  display: none;
}

.form form .image label {
  margin-bottom: 2px;
  border-radius: 5px;

}

.form form .image label i {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 17px;
  color: var(--text-color);
  font-size: 25px;
  width: 100%;
  padding: 0 15px;
}

.form form .image label i:hover {
  color: var(--button-background);
}

.form form .image label i span {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.form form .button input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

.form form .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: none;

  color: var(--button-text);
  font-size: 17px;
  background-color: var(--background-header);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 22px;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.1s ease-in-out;
}

.form form .button::before {
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgb(172, 255, 141);
  top: var(--posY);
  left: var(--posX);
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 2s, height 2s;
  z-index: -1;
}

.form form .button:hover::before {
  width: 200%;
  height: 200%;
  z-index: -1;
}

.form form .button:active {
  transform: translateY(6px);
  color: rgb(13, 74, 18);
}

.form form .field i {
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}

.form form .field i.active::before {
  color: var(--button-background);
  content: "\f070";
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a {
  color: var(--button-background);
}

.form .link a:hover {
  color: var(--button-text-hover);
}

.users {
  padding: 25px 30px;
  min-height: 500px;
  max-height: 100vh;
  overflow: hidden;
}

.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
}

.users-list a button {
  width: 60px;
  height: 40px;
  background-color: #a2e9da;
  border: 5px solid black;
  color: red;
}

.users header {
  background-color: var(--background-header);
  padding: 10px;
  border-radius: 10px;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

.users header img {
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .content {
  display: flex;
  align-items: center;
}

:is(.users, .users-list) .content .details {
  color: var(--text-color);
  margin-left: 20px;
}

:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 500;
}

.users header .logout {
  display: block;
  background: transparent;
  color: var(--button-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}

.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.users .search input.show {
  opacity: 1;
  pointer-events: auto;
}

.users .search button {
  position: relative;
  z-index: 1;
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: var(--background-color);
  color: var(--button-background);
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}

.users .search button.active {
  background: var(--button-background);
  color: var(--button-text);
}

.search button.active i::before {
  content: '\f00d';
}

.users-list {
  background-color: var(--char-body);
  max-height: 350px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}

.users-list a {
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.users-list a img {
  height: 40px;
  width: 40px;
}

.users-list a .details p {
  color: #67676a;
}

.users-list a .status-dot {
  font-size: 12px;
  color: var(--status-dot);
  padding-left: 10px;
}

.users-list a .status-dot.offline {
  color: #ccc;
}

.chat-area header {
  background-color: var(--background-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 30px;
  border-radius: 16px 16px 0 0;

}

.chat-area header #user-status {
  display: flex;
  align-items: center;
}

.chat-area header #user-status .back-icon {
  color: var(--text-color);
  font-size: 18px;

}

.chat-area header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}

.chat-area header #user-status .details span {
  font-size: 17px;
  font-weight: 500;

}

.chat-box {
  position: relative;
  min-height: 400px;
  max-height: 400px;

  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: var(--background-color);
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .text {
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
    0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
  display: flex;
}

.chat-box .outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .details p {
  background: var(--outgoing-bg);
  color: var(--button-text);
  border-radius: 18px 18px 0 18px;
  box-shadow: -5px 1px 10px 0px rgb(0, 0, 0);
}

.chat-box .incoming {
  display: flex;
  align-items: flex-end;

}


.chat-box .incoming img {
  height: 35px;
  width: 35px;
}

.chat-box .incoming .details {
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

.incoming .details p {
  background: var(--incoming-bg);
  color: var(--text-color);
  border-radius: 18px 18px 18px 0;
  box-shadow: 5px 1px 10px 0px rgb(0, 0, 0);
}

.chat-box .outgoing .details p.chatimage img,
.chat-box .incoming .details p.chatimage img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 1px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image style within the chat box*/
.chat-box .outgoing .details p.chatimage img,
.chat-box .incoming .details p.chatimage img {
  width: 100%;
  height: auto;
  border-radius: 1px;
  object-fit: cover;
  max-height: 200px;
}

/* chat box download button */
.chat-box .incoming .details p a.download-btn {
  display: inline-block;
  margin-top: 5px;
  background-color: var(--incoming-bg);
  color: var(--button-text);
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}

.chat-box .incoming .details p a.download-btn:hover {
  color: #1daa15;
}


.wrapper .chat-area .typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.wrapper .chat-area .typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px 0 0 5px;
}

.wrapper .chat-area .typing-area button {
  height: 45px;
  color: var(--button-text);
  width: 55px;
  border: none;
  outline: none;
  background: var(--button-background);
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;

}

.wrapper .chat-area .typing-area button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .chat-area .typing-area .fileInput {
  display: none;
}

.wrapper .chat-area .typing-area {
  display: flex;
  align-items: center;
  background-color: var(--background-header);
  border-radius: 0px 0px 18px 18px;
}

.wrapper .chat-area .typing-area .uploadButton i {


  margin-right: 5px;
  cursor: pointer;
  color: var(--button-background);
  font-size: 26px;
}

.wrapper .chat-area .typing-area .uploadButton i:hover {
  color: var(--hover-color);
}


/* Responsive media query */
@media screen and (max-width: 450px) {

  .form,
  .users {
    padding: 20px;
  }

  .form header {
    text-align: center;
  }

  .form form .name-details {
    flex-direction: column;
  }

  .form .name-details .field:first-child {
    margin-right: 0px;
  }

  .form .name-details .field:last-child {
    margin-left: 0px;
  }

  .users header img {
    height: 45px;
    width: 45px;
  }

  .users header .logout {
    padding: 6px 10px;
    font-size: 16px;
  }

  :is(.users, .users-list) .content .details {
    margin-left: 15px;
  }

  .users-list a {
    padding-right: 10px;
  }

  .chat-area header {
    padding: 15px 20px;
  }

  .chat-box {
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }

  .chat-box .chat p {
    font-size: 15px;
  }

  .chat-box .outogoing .details {
    max-width: 230px;
  }

  .chat-box .incoming .details {
    max-width: 265px;
  }

  .incoming .details img {
    height: 30px;
    width: 30px;
  }

  .chat-area form {
    padding: 20px;
  }

  .chat-area form input {
    height: 40px;
    width: calc(100% - 48px);
  }

  .chat-area form button {
    width: 45px;
  }
}